.arrieval-text h1{
    font-size: 50px;
    text-align: center;
    padding: 20px;
 }
 
 .card{
     display: flex;
     gap: 1vh; 
 }
 
 .card img:hover{
     transform: scale(1.1) ;
     transition-duration: 30;
 }
 
 .card img{
     height: 270px;
     width: 230px;   
     border-radius: 5px;
 }
 .review{
     display: flex;
     gap: 90px;
     justify-content: space-evenly;
     padding-left: 60px;
     padding-right: 53px;
     padding-top: 10px;
 } 
 
 .review p{
     font-size: 15px;
 
 }

 .products img{
   height: 300px;
   width: 300px;
 }
 
 .products li{
    list-style: none;
    text-align: center;
    background-color:black;
    color: white;
 }
 
 .card-container {
    display: flex;
    gap: 20px; 
    padding: 20px;
    justify-content: space-evenly;
    display: grid; /* Enables CSS Grid */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     
  }

  .products{
    background-color:beige;
    border-radius: 15px;
  }

  .button button{
    background-Color:#6c757d;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-Size: 16px;
    border-Radius: 5px;
    cursor: pointer;  
    
}

.button{
    display: flex; 
    justify-content: center;
}



  